{% extends 'base.html.twig' %}

{% block title %}Modifier Image Produit
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<div class="header" id="myHeader">
			<header id="containerD">
				<div class="centerHeadLogo">
					<a class="centerHeadLogo" href="/home">
						<h1><img id="logoTB" src="../logo2.png" alt="logo du site"></h1>
					</a>
				</div>
				<form class="searchbar" action='/recherche' method='post'>
					<input type='text' name='rechercher' placeholder="Rechercher"/></form>
				<div class="connex">
					<form action='/create' method='post'>
						<a href="/create">
							<button type="button" class=" btn btn-primary btn-lg">
								Créer un produit
							</button>
						</a>
					</form>
				</header>
			</div>
			<ul class="nav justify-content-center">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégorie
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="/categorie/Jouets">Jouets</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Livres">Livres</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Musique DVD et Blu-ray">Musique DVD et Blu-ray</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Jeux vidéo et console">Jeux vidéo et console</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/High-Tech">High-Tech</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Sport et loisir">Sport et loisir</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Cuisine et Maison">Cuisine et Maison</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Bricolage et jardin">Bricolage et jardin</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Animalerie">Animalerie</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Vêtements Chaussures et Bijoux">Vêtements Chaussures et Bijoux</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Informatique">Informatique</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Beauté et Santé">Beauté et Santé</a>
						</li>
						<li>
							<a class="dropdown-item" href="/categorie/Épicerie et Boisson">Épicerie et Boisson</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="admin_membres">Gérer les membres</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="../logout">Se déconnecter</a>
				</li>
			</ul>

			<div class="espace">
				<h1>Modification de la photo du produit</h1>
			</div>
			<div class="container">
				<div class="row justify-content-md-center">
					<img src="{{ asset('images_produits/' ~ produit) }}" class="center-block">
					<div class="inscrip">
						<div class="retour">
							{{ form(form) }}
							</div>
							<div class="espace">
								<a href="/modif/{{ id }}" class="btn btn-primary">Modifier le Produit</a>
							</div>
							<div class="espacebas">
								<div class="espace">
									<a href="/modif_produit_categories/{{ id }}" class="btn btn-primary">Ajouter des catégories au produit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
